body {
    background-color: #FAF7F2;
    width: 100vw;
    
}
.titre {
    margin-left: 20px;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Marmelad', sans-serif;
}   

.boutonhead1 {
    background-color: #C4DCF1;
    color: #000000;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 20px;
    width: 100px;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: black 2px solid;
    
}

.boutonhead2 {
    background-color: #C4DCF1;
    color: #000000;
    text-decoration: none;
    width: 100px;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: black 2px solid;
}

.date {
    margin-left: 15px;
    margin-right: 70px;
    margin-top: 40px;
}



.ligneb {
    width: 90vw;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 18px;
}

.soustitre {
    margin-left: 15px;
    margin-right: 150px;
    font-size: 35px;
    font-family: 'Marmelad', sans-serif;
    margin-top: 5px;
}

.textebody {
    margin-left: 20px;
    margin-right:50px;
    font-size: 17px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 25px;
}

.boutonsavoir1 {
    background-color: #4E4F55;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    width: 170px;
    padding: 10px;
    margin-left: 100px;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    max-width: 500px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin-bottom: 20px;

}

.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
    background-color: rgb(235, 234, 234);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.carrousel_ecran figure {
    margin: 0;
}

.carrousel {
    position: relative;
}

.carrousel_btn {
    position: absolute;
    top: 50%;
    top: calc(min(500px, 100vw) / 16 * 9 / 2 + 1rem);
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;

}

.carrousel_btn-avant {
    left: 0;
    top: 160px;
}

.carrousel_btn-apres {
    right: 0;
    top: 160px;
}

.liencarous {
    text-decoration: none;
    color: black;
   
}

.liste_horaires{
    display: flex;
    list-style-type: none;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 10px;
    font-size: 17px;
    
}

.listhoraire1 {
    list-style-type: none;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 0px;
    padding-left: 30px;

}

.listhoraire2 {
    list-style-type: none;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 110px;
}

.titrearchi {
    position: absolute;
    top: 59%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin-left: 15px;
    margin-right: 150px;
    font-size: 30px;
    font-family: 'Marmelad' sans-serif;
    margin-top: 5px;
    color: white;
    width: 220px;
}

.soustitrearticle {
    display: flex;
    position: relative;
}

.soustitreart {
    margin-left: 20px;
    margin-right: 150px;
    font-size: 35px;
    font-family: 'Marmelad', sans-serif;
    margin-top: 5px;
    z-index: 2;
    margin-bottom: 0px;
}

.rectanglebleu {
    width: 100px;
    height: 100px;
    z-index: 1;
    position: absolute;
    top: -1rem;
    margin-left: 8px;

}

.soustitrearticle {
    display: flex;
}

.soustitreart {
    margin-left: 20px;
    margin-right: 150px;
    font-size: 35px;
    font-family: 'Marmelad', sans-serif;
    margin-top: 5px;
    position: relative;
    z-index: 2;
    margin-bottom: 0px;

}

.rectanglebleu2 {
    width: 70px;
    height: 70px;
    z-index: 1;
    position: absolute;
    top: 0rem;
    margin-left: 8px;
}

.ecriture {
    border: 2px solid #C4DCF1;
    border-radius: 10px;
    margin-left: 20px;
    padding: 5px;
    width: 300px;
}

.boutoncontact {
    background-color: #C4DCF1;
        color: #000000;
        text-decoration: none;
        width: 100px;
        padding: 0px;
        font-size: 25px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
        border: black 2px solid;
}

.legende{
    margin-left: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 10px;
}


