.header {
    background-color: #FAF7F2;
    width: 100vw;
} 

.headband {
    display: flex;
    justify-content: baseline;
    align-items: center;

}

.logosite {
    width: 60px;
    height: 100px;
    padding-left: 20px;
    padding-right: 9px;
}

.titresite {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
    color: #4E4F55;
    margin-left: 5px;
    padding-right: 40px;


}
.menulogo {
    background-color: #4E4F55;
    padding: 10px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
}

.billeterie {
    padding-right: 10px;
    width: 36px;

}
.menu {
    position: fixed;
    background-color: #4E4F55;

    width: 100vw;
    height: 100vh;

    right: -100%;
    transition: right 0.5s;

    top: 0;
}

.croixmenu {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 50px;
    cursor: pointer;
    filter: invert(1);
    margin-right: 20px;

}

.ticketmenu {
    top: 20px;
    right: 10px;
    width: 45px;
    cursor: pointer;
    filter: invert(1);
    margin-top: 22px;
    margin-left: 225px;
}

.menulist {
        list-style-type: none;
        margin-top: 50px;

}
.textmenu1 {
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    margin-left: 155px;
    font-family: 'Marmelad', sans-serif;
}

.textmenu2 {
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    margin-left: 70px;
    font-family: 'Marmelad', sans-serif;
}

.textmenu3 {
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    margin-left: 112px;
    font-family: 'Marmelad', sans-serif;
}

.textmenu4 {
    text-decoration: none;
    color: #ffffff;
    font-size: 35px;
    margin-left: 145px;
    font-family: 'Marmelad', sans-serif;
}

.lignemenu {
   width: 190px;
   margin-left: 78px;
   margin-bottom: 25px;
}

.reseaulist {
    list-style-type: none;
    margin-top: 70px;
    filter: invert(1);
}

.reseau1 {
    text-decoration: none;
    margin-right: 15px;
    width: 32px;

}

.reseau2 {
    text-decoration: none;
    margin-right: 15px;
    width: 32px;
}

.reseau3 {
    text-decoration: none;
    margin-right: 15px;
    width: 32px;
}

.reseau4 {
    text-decoration: none;
    margin-right: 15px;
    width: 38px;
}

.ligneh {
    width: 90vw;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.actif {
    right: 0;
}

img {
    width: 20px;
}